head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Urban Farmer details
  link(rel='stylesheet', type='text/css', href='/style.css')
.container
  header
    h1#title MASSAJJA URBAN FARMER INITIATIVE
  #form-wrapper
    form#register-form(action='/', method='post')
      input#datetoday.form-control-2(type='date', name='datetoday', placeholder='date')
      br
      br
      input#names.form-control-2(type='text', name='names', placeholder='Fullname')
      br
      br
      input#dateofbirth.form-control-2(type='date', name='dateofbirth', placeholder='dateOfBirth')
      br
      br
      .container2
        select#ward(name='ward')
          option(value='select your Ward') Select Ward
          |               &gt;
          option(value='WardA') Ward A
          option(value='wardB') ward B
          option(value='wardC') ward C
        br
        br
        select#dropdown(name='gender')
          option(value='select your Gender') Select Gender
          |                 &gt;
          option(value='Male') Male
          option(value='Female') Female
          option(value='Secret') Secret
        br
        br
        select#activity(name='activity')
          option(value='select activity') Activity done
          |               &gt;
          option(value='WardA') Ward A
          option(value='wardB') ward B
          option(value='wardC') ward C
        br
        br
      .container3
        input#foid.form-control-2(type='text', name='foid', placeholder='UF Id')
        br
        br
        input#nid.form-control(type='text', name='nid', placeholder='NIN')
        br
        br
        input#phone.form-control-2(type='text', name='phone', placeholder='Phone')
        br
        br
      input#address.form-control-2.form-float(type='text', name='address', placeholder='Adress')
      br
      br
      p.null-field
      button#submit(type='submit')
        | Register
  p.copyright
    | &copy; Massajja Ubarn farmer initiative. All rights reserved!
  script(src='/validate.js')
